<div class="row">
  <div class="col-lg-12">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
      <a routerLink="/inicio" class="navbar-brand">
        <img src="/assets/LogoBS.png" [width]="180" alt="CoolBrand">
      </a>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
          <a href="https://www.facebook.com/" class="nav-item nav-link">
            <img
              src="/assets/fb.png"
              alt="FB" [width]="30" [height]="30">
          </a>
          <a href="https://twitter.com/" class="nav-item nav-link">
            <img src="/assets/tw.png"
                 alt="FB" [width]="30" [height]="30">
          </a>
          <div>
            <a routerLink="['/clientes','listaservicios']" class="nav-item nav-link">Sesión actual: <b>{{correoUsuarioActual}}</b></a>
          </div>
        </div>

        <div class="navbar-nav ml-auto">
          <button type="button"
                  routerLink="/crear"
                  class="btn btn-outline-dark">Regístrate <b>Ahora!</b></button>
          <button type="button"
                  routerLink="/login"
                  class="btn btn-dark">Iniciar <b>Sesión!</b></button>
        </div>
      </div>
    </nav>
  </div>
</div>
