<ng-template #content let-modal>
  <div class="modal-header">
    <img src="assets/logo-cuenta.png" alt="crear">
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form #formularioCrearUsuarioBS
          (ngSubmit)="crearUsuarioBS(formularioCrearUsuarioBS)">
      <div class="form-group">
        <label for="nombreId">Nombre:</label>
        <input type="text" id="nombreId" name="nombre" placeholder="Escriba su nombre"
               class="form-control" required>
      </div>
      <div class="form-group">
        <label for="apellidoId">Apellido:</label>
        <input type="text" id="apellidoId" name="apellido" placeholder="Escriba su apellido"
               class="form-control" required>
      </div>
      <div class="form-group">
        <label for="correoId">Correo:</label>
        <input type="email" id="correoId" name="correo" placeholder="a@a.mail"
               class="form-control" required>
      </div>
      <div class="form-group">
        <label for="passId">Contraseña:</label>
        <input type="password" id="passId" name="contrasenia" placeholder="Escriba su contraseña"
               class="form-control" required>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark" (click)="modal.close('Save click')">Crear cuenta</button>
      </div>
    </form>
  </div>

</ng-template>
<button class="btn btn-outline-dark" (click)="open(content)">Regístrate!</button>


