<div class="container">
  <div>
    <img src="https://i.imgur.com/PwJFBTd.png" alt="Logo BS" width="15%">
  </div>
  <br/>
  <form #formularioCredencialesBS
        (ngSubmit)="loguearUsuarioBS(formularioCredencialesBS)"
  >
    <div>
      <label for="correoId"></label>
      <input id="correoId" name="correo"
             type="text" placeholder="Correo">
    </div>
    <br/>
    <div>
      <label for="contraseniaId"></label>
      <input id="contraseniaId" name="contrasenia"
             type="password" placeholder="Contrasenia">
    </div>
    <br/>
    <button type="submit">
      Iniciar <b>sesion</b>
    </button>
  </form>
</div>
