<h1>Lista de peliculas</h1>

<!-- Directiva ngFor -->
<p *ngFor="let numero of arregloNumeros">
  {{numero}}
</p>
<br><br>

<!-- Directiva ngIf -->
<p *ngIf="false">
  OCULTO
</p>

<div *ngFor="let pelicula of arregloPeliculas">
  <app-carta-pelicula
    [urlImagen]="pelicula.url"
    [descripcion]="pelicula.descripcion"
    [nombreBoton]="pelicula.nombrePelicula"
    (eventoDioClicEnBoton)="mensajeConsola($event)"
  >
  </app-carta-pelicula>
</div>


<!--
<app-carta-pelicula
  urlImagen="https://pbs.twimg.com/profile_images/727652546093813761/wsIRWa4h.jpg"
  descripcion="Descripcion 1"
  nombreBoton="Like 1"
  (eventoDioClicEnBoton)="mensajeConsola($event)"
  (eventoDioClicEnImagen)="mensajeConsola($event)"
  >
</app-carta-pelicula>

<br>

<app-carta-pelicula
  urlImagen="https://pbs.twimg.com/profile_images/3628043916/42488f150daf8efc42aaa40a71b5b88d.png"
  descripcion="Descripcion 2"
  nombreBoton="Like 2"
>
</app-carta-pelicula>
-->
