<!--<h1>Lista de peliculas</h1>-->

<!-- Directiva ngFor -->
<!--<p *ngFor="let numero of arregloNumeros">
  {{numero}}
</p>
<br><br>-->

<!-- Directiva ngIf -->
<!--<p *ngIf="false">
  OCULTO
</p>-->

<!--<div *ngFor="let pelicula of arregloPeliculas">
  <app-carta-pelicula
    [urlImagen]="pelicula.url"
    [descripcion]="pelicula.descripcion"
    [nombreBoton]="pelicula.nombrePelicula"
    (eventoDioClicEnBoton)="mensajeConsola($event)"
  >
  </app-carta-pelicula>
</div>

<div *ngFor="let usuario of arregloUsuarios">
  {{usuario["nombre"]}}
</div>

<br><br>
<button (click)="crearUsuario()">
  Crear usuario
</button>-->

<!--
<app-carta-pelicula
  urlImagen="https://pbs.twimg.com/profile_images/727652546093813761/wsIRWa4h.jpg"
  descripcion="Descripcion 1"
  nombreBoton="Like 1"
  (eventoDioClicEnBoton)="mensajeConsola($event)"
  (eventoDioClicEnImagen)="mensajeConsola($event)"
  >
</app-carta-pelicula>

<br>

<app-carta-pelicula
  urlImagen="https://pbs.twimg.com/profile_images/3628043916/42488f150daf8efc42aaa40a71b5b88d.png"
  descripcion="Descripcion 2"
  nombreBoton="Like 2"
>
</app-carta-pelicula>
-->

<!--<button (click)="habilitado = !habilitado">
  {{habilitado ? 'Habilitado' : 'Deshabilitado'}}
</button>

<app-carta-pelicula *ngIf="habilitado">

</app-carta-pelicula>-->

<!--<div *ngFor="let usuario of arregloUsuarios">
  {{usuario["nombre"]}}
</div>-->

<br>
<ul>
  <li>
    <a [routerLink]="['inicio']">
      Ir Inicio
    </a>
  </li>
  <li>
    <a [routerLink]="['login']">
      Ir Login
    </a>
  </li>
  <li *ngIf="_authService.estaAutenticado">
    <a [routerLink]="['usuario']">
      Usuarios
    </a>
  </li>

</ul>

<div>
  <br/>
  <button mat-button color="accent">
    Boton material
  </button>
  <br/><br/>
  <button type="button"
          class="btn btn btn-outline-secondary mr-2"
          placement="top"
          ngbTooltip="Cuidado con verme feo">
    Tooltip on top
    <p
      placement="bottom"
      ngbTooltip="Otro mas">
      Ejemplo
    </p>
  </button>
  <br/><br/>
  <p-button
    label="Hola desde PrimeNG"
    class="p-button-secondary">
  </p-button>
  <br>
</div>

<router-outlet></router-outlet>



























