<h1>Lista de peliculas</h1>

<app-carta-pelicula>
</app-carta-pelicula>

<!--
<p *ngFor="let numero of arregloNumeros">
  {{numero}}
</p>

<app-carta-pelicula
  urlImagen="https://is4-ssl.mzstatic.com/image/thumb/Purple113/v4/5d/c4/1e/5dc41e7f-e6da-e3aa-5aea-0c9bb3e13d50/source/256x256bb.jpg"
  descripcion="Descripcion1"
  nombreBoton="Like1"
  (eventoDioClicEnBoton)="mensajeConsola($event)"
  >
</app-carta-pelicula>
<br>

<app-carta-pelicula
  urlImagen="https://i2.wp.com/i274.photobucket.com/albums/jj275/PunkoJotaViL/Mac%20Appz-Gamez/Sims2.png"
  descripcion="Descripcion2"
  nombreBoton="Like2"
>
</app-carta-pelicula>
-->
<!--
<p *ngIf="false">
  OCULTO
</p>
-->

<!--
<div *ngFor="let pelicula of arregloPeliculas">
  <app-carta-pelicula
    [urlImagen]="pelicula.url"
    [descripcion]="pelicula.descripcion"
    [nombreBoton]="pelicula.nombrePelicula"
    (eventoDioClicEnBoton)="mensajeConsola($event)"
    >
  </app-carta-pelicula>
</div>
-->


