<p>Editando usuarios</p>

<p>{{usuario?.id}}</p>
<p>{{usuario?.nombre}}</p>
<p>{{usuario?.cedula}}</p>

<!-- Reutilizando formulario para editar el usuario -->
<!-- Directiva ngIf para renderizar  el formulario solo si lo mostramos -->
<div *ngIf="mostrarFormulario">
    <app-formulario-usuario
      [nombreInput]="usuario.nombre"
      [cedulaInput]="usuario.cedula"
      [estadoCivilInput]="usuario.estadoCivil"
      (informacionValidada)="editarUsuario($event)"
    >
    </app-formulario-usuario>
</div>
