<div class="container-fluid">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
        <div class="col-lg-12">
          <navbar-inicialBS></navbar-inicialBS>
        </div>
      </div>
      <br>
      <div class="row justify-content-md-center">
        <div class="col-lg-3 text-center">
          <div class="jumbotron">
            <img src="/assets/solicitar.png" alt="Solicitar" [width]="150" [height]="150">
            <h1>Todo lo que necesitas</h1>
            <p class="lead">Más de 40 servicios siempre a su disposición 24/7</p>
            <hr class="my-4">
            <a class="btn btn-outline-dark btn-lg"
               [routerLink]="['/clientes','listaservicios']"
               role="button">Solicítalo <b>Aquí</b></a>
          </div>
        </div>
        <div class="col-lg-3 text-center">
          <div class="jumbotron">
            <img src="/assets/anunciar.png" alt="Anunciar" [width]="150" [height]="150">
            <h1>Hazte<br/>conocer</h1>
            <p class="lead">Cientos de personas necesitan de ti, anímate!</p>
            <hr class="my-4">
            <a class="btn btn-outline-dark btn-lg"
               [routerLink]="['/anuncios','contacto']"
               role="button">Anúnciate <b>Ahora!</b></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
